extends ../inheritance/base.pug

block body 
    .editPost 
        img.editPost__img(src=editPost.image alt="이미지 주소" width="400" height="400")
       
        form.editPost__form(method="POST" action=`/post/${editPost.postId}/edit?_method=PATCH`) 
            //- input(type="text" id="image" value=editPost.image)
            //- label(for="title") 글 제목
            //- input(type="text" id="title" name="title" value=editPost.title)
            //- label(for="content") 글 내용
            //- input(type="text" id="content" name="content" value=editPost.content)
            //- input(type="submit" value="글 수정하기")
            .editPost__title
                label(for="title") 글 제목
                img(src="https://www.wiselycompany.com/custom/img/icon_require.png" alt="필수" width=10 height=10)
                input(type="text" id="title" name="title" placeholder="글 제목을 입력해주세요." required value=editPost.title)
            .editPost__content
                label(for="title") 글 내용
                img(src="https://www.wiselycompany.com/custom/img/icon_require.png" alt="필수" width=10 height=10)
                textarea(name="content", id="content", cols="30", rows="10" placeholder="글 내용을 입력해주세요." required)=editPost.content
            .editPost__submit
                input(type="submit" value="글 수정하기")